/*AJUSTES GENERALES*/
*{  box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
body {
    background-color: #022331;
    margin: 0px;
    width: 100%;
    min-height: 100vh; /*para que el contenido ocupe siempre el 100vh, y el footer se mantenga abajo*/
    display: flex;
    flex-direction: column;
}
#video-background {
    position: fixed; /*no lo afecta el desplazamiento*/
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    
    z-index: -1; /* manda el video al fondo */
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row; 
}

a {
    text-decoration: none;
    color:white;
    white-space: nowrap; /*evita ajuste de palabras*/
}

/* BARRA DE NAVEGACIÓN */ /*La misma en todas las páginas*/

header{
    display: flex;
    background-color: rgb(3, 14, 42);
    width: 100vw;
    height: 70px;
    align-items: center;  /*centra en eje Y */
}
nav{
    display: flex;
    width: 100vw;   /*toma el tamaño del header*/
}
.navegacion{
    width: 100%;  /*Toma el tamaño del nav*/
    display: flex;
}

.navegacion li{
    margin: 0px 20px;
}
.logo{
    height:110px;
    margin: 0 0 0 7px;
}
.busqueda-y-usuario{
    display: flex;
    align-self: flex-end;
    align-items: center;
    width: auto;
    margin: 0 35px 4px 0;
    padding: 5px;
}
.busqueda-y-usuario img{
    margin: 0 4px;
}
.form{
    color:gray;
}

/*---------------------------------------------*/
/*index.html*/


/*main*/
.main-container{
    width: 100vw;
    width: 100%;
    height: auto; /*para que el contenedor padre se adapte al heigth de los items hijos*/
    margin: 25px 0px 38px 0px; /*separado arriba y abajo*/
    display: flex;
    flex-direction:column; /*cada sección ordenada verticalmente*/
}

.peliculas{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    background-color: #020c106b;
    align-items: center;
    
}
article{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8px; /*margen mínimo entre imágenes - responsive*/
    max-width: 300px; /*por las dudas*/
}
.img-peliculas{
    display: flex;
    width: 220px;   
}
.barra-peliculas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*BANNER*/
.banner-destacado{
    display: flex;
    width:100vw;
    height: 70vh;
    overflow-x: scroll;
}
.slider-item{
    display: flex;
    width: 70%;
    object-fit: cover;
}

/*------------------------------------------------*/
/*detail-genres.html*/

.container-detail-genres{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.generos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 15px;/*mini borde a la izq*/
    flex-direction: column;
    width: 100vw;
}

.contenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

article{
    display: flex;
    flex-wrap: wrap;
    margin: 0 8px; /*margen mínimo*/
    max-width: 300px; /*por las dudas*/
}
h1{
    margin:15px;
}





/*------------------------------------------------*/
/*detail-movie.html*/

.container_detalle_pelicula{
    flex-direction: row;
    display: flex;
    padding: 10px;
}

.detalle_pelicula_izquierda{
    display:flex;
    flex-direction: column;
    width: 50vw;
    padding: 10px;
}

.detalle_pelicula_izquierda a{
    display: flex;
    justify-content: center;
}

.detalle_pelicula_izquierda img{
    width:100%;
}

.detalle_pelicula_derecha{
    display:flex;
    flex-direction: column;
    width: 50vw;
    padding: 10px;
}


.detalle_pelicula_derecha ul{
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.detalle_pelicula_derecha li{
    padding: 10px;
}

.detalle_pelicula_derecha h1{
    text-align: center;
}

.boton_favorito{
    width:200px;
    display:flex;
    background-color:white;
    border: solid 2px #053448;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.boton_favorito p{
    color:#053448;
}




/*------------------------------------------------*/
/*detail-serie.html*/

.container_detalle_serie{
    flex-direction: row;
    display: flex;
    padding: 10px;
}

.detalle_serie_izquierda{
    display:flex;
    flex-direction: column;
    width: 50vw;
    padding: 10px;
}

.detalle_serie_izquierda img{
    width:100%;
}

.detalle_serie_izquierda a{
    display: flex;
    justify-content: center;
}

.detalle_serie_derecha{
    display:flex;
    flex-direction: column;
    width: 50vw;
    padding: 10px;
}


.detalle_serie_derecha ul{
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.detalle_serie_derecha li{
    padding: 10px;
}

.detalle_serie_derecha h1{
    text-align: center;
}

.boton_favorito{
    display:flex;
    width:200px;
    background-color:white;
    border: solid 2px #053448;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
}

.boton_favorito p{
    color:#053448;
}




/*------------------------------------------------*/
/*favorite.html*/

.conteiner-favorito{
    width: 100vw;
    height: auto; /*para que el contenedor padre se adapte al heigth de los items hijos*/
    margin: 25px 0px 38px 0px; /*separado arriba y abajo*/
    flex-direction:column; /*cada sección ordenada verticalmente*/
    justify-content: center;
}

.titulo-favorito{
    text-align: center;
}

.section-peliculas h3{
    padding: 0px 0px 0px 15px;
}

.section-peliculas h3{
    padding: 0px 0px 0px 15px;
}



/*-----------------------------------------------*/
/*genres.html*/

/* LISTA DE GENEROS */


.container-genres{
    flex-direction: row;
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-content: space-evenly;

}

.container-peliculas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.container-series{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;

}

.container-peliculas ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-series ul{
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-peliculas li{
    margin: 15px;
}

.container-series li{
    margin: 15px;
}

/* DETALLES */

.contenido{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenido img{
    width: 250px;
    margin: 10px 0;
}


p{
    color: white;
}
h2{
    color: white;
}






/*------------------------------------------------*/
/*search-results.html*/











/*Footer*/ /*El mismo en todas las páginas*/

.todo-menos-footer{   /*un div que separa el contenido del footer*/
    display: flex;
    flex-direction: column;
    flex:1;       /*flex:1; hace que ocupe TODO lo que sobre en la pantalla, cubriendo el 100vh*/
}

footer{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 15px;
}
.footer-hijo{
    display: flex;
    width: 90vw;
    height: 65px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(3, 14, 42);
}

.footer-hijo nav ul li{
    margin: 0px 20px 0px 0px;
    
}

.footer-hijo h4{
    display: flex;
    justify-content: center;
}

.footer-hijo nav{
    display: flex;
    justify-content: center;
    align-items: center;
}




.header-chiquito{display: none;}

/*--------MEDIA QUERY's-------*/
@media (max-width: 420px) {
    #video-background { display: none; } /*saca el video de fondo - # en vez de . porque no es un class, es un id*/
}

@media (max-width:1200px){
    .banner-destacado {display: none;}
    header{display: none;}
    h3{font-size: 11px;}
    h4{font-size:xx-small}
    li{font-size:xx-small}

    .img-peliculas{width: 120px;}
    .peliculas{justify-content: center;}
    
    /*header*/
    .header-chiquito{
        display: flex;
        width: 100vw;
        height: 50px;
        justify-content: space-between;
    }
    .sanguchito{
        display: flex;
    }

    .logo{height: 100%;
    }
    select{
        background-color: #022331;
    }
    option{
        color:white;
    }

}

@media (max-width:700px){
    .peliculas {
        flex-wrap:wrap;
        
    }

    .img-peliculas{
        margin:5px 0;
    }

    .titulo-favorito{
        font-size: 20px;
    }
}

/*página favoritos*/

